<div class="masthead clearfix">
  <div class="inner">
    <!-- Unica one -->
    <h3 class="masthead-brand"><a href="{{ site.baseurl }}/index.html">MOURJO SEN</a></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li {% if page.title == "index" %} class="active" {% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li {% if page.title == "aboutme" %} class="active" {% endif %}><a href="{{ site.baseurl }}/aboutme.html">About me</a></li>
        <li {% if page.title == "education" %} class="active" {% endif %}><a href="{{ site.baseurl }}/education.html">Education</a></li>
        <li {% if page.title == "projects" %} class="active" {% endif %}><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
        <li {% if page.title == "skills" %} class="active" {% endif %}><a href="{{ site.baseurl }}/skills.html">Skills</a></li>
        <li {% if page.title == "cv" %} class="active" {% endif %}><a href="{{ site.baseurl }}/cv.html">CV</a></li>
        <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</div>
