body {
    color: rgb(75, 75, 75);
    background-color:white;    
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    line-height: 1.6;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nodecor {
    text-decoration: none;
    font-weight: normal;
}

h1             {font-size: 22px; font-family: 'Libre Baskerville', serif; font-weight: 700; margin-bottom: 8px; margin-top: 20px;}
h2             {font-size: 20px; font-family: 'Libre Baskerville', serif; font-style: normal; font-variant: normal; font-weight: 700;}
h3             {font-size: 18px; font-family: 'Libre Baskerville', serif; font-style: normal; font-variant: normal; font-weight: 700;}
h4             {font-size: 16px; font-family: 'Libre Baskerville', serif; font-style: normal; font-variant: normal; }
h5             {font-size: 15px; font-family: 'Libre Baskerville', serif; font-style: normal; font-variant: normal; }
h6             {font-size: 15px; font-family: 'Libre Baskerville', serif; font-style: normal; font-variant: normal; }
.post-headline {font-size: 25px; font-family: 'Libre Baskerville', serif; font-weight: 700; font-variant: small-caps; margin-bottom: 8px; margin-top: 20px; }


a:visited,
a:link,
a:active {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    text-decoration-color: rgb(198, 198, 198);
    color:inherit; 
    
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    text-decoration-color: rgb(202 202 202);
    color:inherit; 
}


blockquote {
    border-left: 1px solid #aaa;
    padding-left: 0.7em;
    padding-right: 0.7em;
    font-style: italic;
    color: rgb(144 144 144);
}

img {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.page {
    max-width: 70ch;
    min-width: 30ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    clear: both;
}

.footer {
    clear: both;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 1em;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25em;
}

.header {
    clear: both;
    border-bottom: 1px solid black;
    text-align: right;
    font-size: 1.25em;
    font-family: 'Libre Baskerville', serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 0.5em;
}

.brand {
    float:left;
    font-family: 'Libre Baskerville', serif;
}

.header a {
    text-decoration: none;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.copy {
    color: rgb(170, 170, 170);
    font-style: italic;
}

.post {
    padding-top: 10px;
}


.papertitle {
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: bolder;
    color: #000;
}

pre {
  border: 1px solid #888;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.42857143;
  font-family: "Roboto Mono", monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  padding: 3px;
  border-radius: 4px;
  background-color: #ededed;
  overflow-x: auto;
}

.language-mermaid {
  background-color: white;
}

.article-list-item {
    margin-top: 5px;
}

.social-icon {
    font-size: 30px;
}

.katex {
    font-size: large;
}

.callout {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 20px;

    border-radius: 4px;
    margin: 10px;
    background-color: #dedede;
    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: #8a8a8a
}

.callout-tip, .callout-info {
    background-color: rgba(0, 191, 188, 0.1);
    border-left-color: rgb(0, 191, 188);
}

.callout-tip > .callout-title {
    color: rgb(0, 191, 188);
}

.callout-info > .callout-title {
    color: rgb(0, 191, 188);
}

.callout-note, .callout-important {
    background-color: rgba(8, 109, 221, 0.1);
    border-left-color: rgb(8, 109, 221);
}

.callout-note > .callout-title {
    color: rgb(8, 109, 221);
}

.callout-important > .callout-title {
    color: rgb(8, 109, 221);
}

.callout-question {
    background-color: rgba(236, 117, 0, 0.1);
    border-left-color: rgb(236, 117, 0);
}

.callout-question > .callout-title {
    color: rgb(236, 117, 0);
}

.callout-example {
    background-color: rgba(120, 82, 238, 0.1);
    border-left-color: rgb(120, 82, 238);
}

.callout-example > .callout-title {
    color: rgb(120, 82, 238);
}


.callout-title {
    font-weight: bold;
    font-family: 'Lora', serif;
    padding-bottom: 4px;
}

.search-bar {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    font-size: inherit;
    
    font-family: inherit;
    line-height: inherit;
}

.searchbar-container {
    padding-top: 0.5em;
    text-align: right;
    padding-bottom: 0.5em;
}


.search-container {
    position: relative;
    background-color: white;
}


.search-results-container {
    white-space: nowrap;    
    text-align: left;
    display: none;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    max-height: 70vh;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
    z-index: 10;
    box-shadow: -11px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1); /* Semi-transparent black */
}

.search-result {
  padding: 3px;
  margin: 3px;
}

table {
  border-collapse: collapse; /* Optional: Removes double borders */
  width: 100%; /* Optional: Adjust width */
}
th, td {
  border: 1px solid  rgb(75, 75, 75); /* Add a border to cells */
  padding: 8px; /* Optional: Adds padding to cells */
  text-align: left; /* Optional: Aligns text */
}


.pill-container {
  display: flex; /* Use flexbox for easy horizontal alignment */
  align-items: center; /* Vertically center the pills */
  flex-wrap: wrap; /* Allow pills to wrap to the next line if they overflow */
  gap: 5px; /* spacing between the pills */
}

/* Individual pill styling */
.pill {
  display: inline-block; /* Important: Allows them to be inline and have width/height */
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark text color */
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px; /* Creates the rounded pill shape */
  font-size: 14px; /* Adjust as needed */
  margin-left: 5px; /* Spacing around the pill (optional) */
  white-space: nowrap; /* Prevent text from wrapping within the pill */
  
  text-overflow: ellipsis; /* Add ellipsis (...) if content is too long */
  max-width: 150px; /* Optional: Limit the width of the pill */
  border: 1px solid #ccc; /* Optional: Add a subtle border */
}

/* Pill with a link */
.pill a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the pill */
}

/* Hover effect */
.pill:hover {
  background-color: #e0e0e0; /* Slightly darker background on hover */
  cursor: pointer; /* Change cursor to a pointer */
}

/* Pills with different colors */
.pill.primary {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pill.success {
  background-color: #28a745;
  color: white;
  border-color: #28a745;
}

.pill.danger {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
}

@media (max-width: 480px) {
    .page {
        max-width: 350px;
        width: 350px;
    }

    .article-list-item {
        margin-top: 10px;
    }

    .optional {
        display: none;
    }

    img {
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        display: block;
        text-align: center;
    }
}
