body {
    color: rgb(75, 75, 75);
    background-color:white;
    font-family: 'Spectral', serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    
}

strong {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}

b {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nodecor {
    text-decoration: none;
    font-weight: normal;
}

h1{font-family: 'Lora', serif;margin-top:5px;margin-bottom:10px;}
h2{font-family: 'Lora', serif;margin-top:5px;margin-bottom:10px;}
h3{font-family: 'Lora', serif;margin-top:5px;margin-bottom:10px;}
h4{font-family: 'Lora', serif;}
h5{font-family: 'Lora', serif;}
h6{font-family: 'Lora', serif;}

a:visited,
a:link,
a:active {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    text-decoration-color: rgb(219, 219, 219);
    color:inherit; 
    
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 3px;
    text-decoration-color: rgb(134, 134, 134);
    color:inherit; 
}


blockquote {
    border-left: 1px solid #aaa;
    padding-left: 0.7em;
    font-style: italic;
}

img {
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.page {
    max-width: 70ch;
    min-width: 30ch;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content {
    clear: both;
}

.footer {
    clear: both;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 1em;
    border-top: 1px solid black;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 1.25em;
}

.header {
    clear: both;
    border-bottom: 1px solid black;
    text-align: right;
    font-size: 1.25em;
    font-family: 'Lora', serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 0.5em;
}

.brand {
    float:left;
    font-family: 'Lora', serif;
}

.header a {
    text-decoration: none;
    font-weight: bold;
}

.footer a {
    text-decoration: none;
    font-family: 'Lora', serif;
    font-weight: bold;
}

.copy {
    color: rgb(170, 170, 170);
    font-style: italic;
}

.post {
    padding-top: 10px;
}


.papertitle {
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: bolder;
    color: #000;
}

pre {
  border: 1px solid #888;
  overflow: auto;
  font-size: 13px;
  line-height: 1.42857143;
  font-family: "Roboto Mono", monospace;
  border: 1px solid #ccc;
  border-radius: 4px;
}

code {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  padding: 3px;
  border-radius: 4px;
  background-color: #ededed;
}

.article-list-item {
    margin-top: 5px;
}

.social-icon {
    font-size: 30px;
}


@media (max-width: 480px) {
    .page {
        max-width: 350px;
        width: 350px;
        line-height: 27px;
    }

    .article-list-item {
        margin-top: 10px;
    }

    .page h1,h2,h3 {
        line-height: 35px;
    }

    .optional {
        display: none;
    }

    img {
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        display: block;
        text-align: center;
    }
}
