/* 
    Created on : 22 Jun, 2014, 10:37:10 AM
    Author     : Mourjo
*/

html
{
    font-family: calibri;
    height: 100%; 
    overflow-y:scroll;
}

body
{
    background-color: #1D3956; 
    //box-shadow: inset 0 0 100px rgba(0,0,0,.9); 
    color: white; 
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    width: min-content;
    
}

.navbar .navbar-inner .nav {
    float: none;
    display:inline-block;

}


.navbar .navbar-inner{

    background:#1D3956;
    box-shadow: inset 0 0 10px rgba(0,0,0,.9);
    color: white;
    border: none;
    text-shadow:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}
.navbar-inner container{
    background:transparent;
    color: white;
    
}
.navbar{
    background:transparent;
    color: white;
    border: none;
    text-shadow: none;
    
}
#nav-main{
    background:transparent;
    color: white;

}
#banner{
    background:transparent;
    color: white;
}​

.navbar .nav > li > a {
    background:transparent; 
    color: yellow;
    text-shadow: none;
    text-decoration: none;
    border: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    border-bottom: solid 2px;
    color: white;
    text-shadow: none;


}
/* set active item to darkgreen */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    border-bottom: solid 2px;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: white;
    text-shadow:none;
}

/* set font color and background of the project name (brand) */
.navbar .navbar-inner .brand {
    float: none;
    display: inline-block;
    vertical-align: top;
    font-style: italic;

}
.navbar .brand 
{
    text-shadow:none;
    color: white;
    text-align: center;
    font-size: 12pt;
}

#footer
{
    color: #c8c8c8;
    font-size: 10pt;
    font-style: italic;
}

/* unvisited link */
a:link {
    color: white;
    border-bottom: 1px dashed white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    border-bottom: 1px dashed white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #ccccff;
}

.main
{
     text-align: justify; 
     font-size: 12pt;
}

p
{
     line-height: 150%;
}

.navbar .nav > .navdeactive > a,
.navbar .nav > .navdeactive > a:hover,
.navbar .nav > .navdeactive > a:focus
{
    text-shadow: none;
    border: none;
}