/*
 * Globals
 */

/* Links */
a:focus,
a:hover {
  text-decoration: none;
  /*color: #337ab7;*/
  color: #e6f2ff;
}

a {
  color: white;
  font-weight: 800;
  /*border-bottom: 0.5px solid #cce6ff;*/
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #1D3956;
}
body {
  color: #cce6ff;
  font-size: 19px;
  /*source sans pro*/
  font-family: 'Ubuntu', sans-serif;
  font-weight: 250;
  line-height: 140%;
}


h1, h2, h3, h4, h5 {
  color: #fff;
  padding-top: 20px;
}

h1 {
  font-size: 20px;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 250px rgba(0,0,0,.5);
          box-shadow: inset 0 0 250px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead {
  padding-bottom: 30px;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  color:#99ccff;
  text-align: center;
  font-family: 'Londrina Outline', cursive;';
  font-size: 35px;
}
.masthead-brand > a {
  /*border:None; */
  color:#99ccff;
  padding-left:2px;
  padding-right:2px; 
  border-top: 2px solid #99ccff;
  border-bottom: 2px solid #99ccff;
  /*border-radius: 9px;*/
  /*background: #99ccff;*/
  /*padding: 20px; */
  /*width: 200px;*/
  /*height: 150px;*/
}


.masthead-nav {
  text-align: center;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  /*margin-left: 20px;*/
}
.masthead-nav > li > a {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


.manuscript {
  border: 1px solid #264b73;
}
/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Footer
 */

.mastfoot {
  text-align: center;
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media(max-width: 300px) {
  .logos {
    display: none;
  }
}

@media (max-width: 535px) {
  .center-img-div {
    display: none;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .font-page-content-1 { 
    width: 100%;
  }
  .masthead {
    padding-bottom: 0px;
  }
 }

@media (max-width: 991px) {
  .center-face {
    width: 100%;
  }
 }

@media (max-width: 767px) {
  .large-section-text {
    display: none;
  }

  .manuscript {
    display: none;
  }

  .alt-text-small {
    display: block;
  }
 }


@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    top: 0;
  }
  .mastfoot {
    /*position: fixed;*/
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    /*vertical-align: middle;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .center-face {
    width:240px;
  }

  .alt-text-small {
    width: 100%;
    display:none;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }

  .center-face {
    width:240px;
  }
}

blockquote {
  margin-left: 20px; margin-bottom: 10px; padding-top: 0px;
}


blockquote p {
  margin-left: 20px; margin-bottom: 10px; padding-top: 0px;
}
